---
layout: about.njk
eleventyExcludeFromCollections: true
---
<p align="center">
<strong>ציון במשפט תפדה</strong><br>
<strong>אין כל הגליות הללו מתכנסות אלא בזכות המשניות</strong><br>
<em>ויק"ר פ"ז, ג</em><br><br>
</p>
